<div class="tab-content">
    <div class="col-sm-12 col-xs-12 mb-12 pb-4">
        <div>
            <img style="vertical-align:middle; height: 16px" src="{{ site.baseurl }}/assets/img/indicator_flag/resize.png"> 
            <span style=""> {{ page.t.data.indicatordevelopmenttext | t }}</span>
        </div>
    </div>
    
    <div class="row">
        
        <div class="col-sm-2 col-xs-2 text-center mb-5">
            
            
          <a href="https://www.dst.dk/globalsdg/{{ page.url | split: "/" | last | replace: "-", "." }}" target="_blank"><img src="{{ site.baseurl }}/assets/img/indicator_flag/denmark.png" style="height: 50px"></a>
            <div><a href="https://www.dst.dk/globalsdg/{{ page.url | split: "/" | last | replace: "-", "." }}" target="_blank">{{ page.t.data.denmark | t }}</a></div>
        </div>        
        
        <div class="col-sm-2 col-xs-2 text-center mb-5">
          <a href="https://heimsmarkmidin.hagstofa.is/en/{{ page.url | split: "/" | last }}" target="_blank"><img src="{{ site.baseurl }}/assets/img/indicator_flag/iceland.png" style="height: 50px"></a>
            <div><a href="https://heimsmarkmidin.hagstofa.is/en/{{ page.url | split: "/" | last }}" target="_blank">{{ page.t.data.iceland | t }}</a></div>
        </div>
        
        <div class="col-sm-2 col-xs-2 text-center mb-5">
          <a href="https://sdgcif-data-canada-oddcic-donnee.github.io/{{ page.url | split: "/" | last }}" target="_blank"><img src="{{ site.baseurl }}/assets/img/indicator_flag/canada.png" style="height: 50px"></a>
            <div><a href="https://sdgcif-data-canada-oddcic-donnee.github.io/{{ page.url | split: "/" | last }}" target="_blank">{{ page.t.data.canada | t }}</a></div>
        </div>

        <div class="col-sm-2 col-xs-2 text-center mb-5">
          <a href="http://sdg-indikatoren.de/en/{{ page.url | split: "/" | last }}" target="_blank"><img src="{{ site.baseurl }}/assets/img/indicator_flag/germany.png" style="height: 50px"></a>
            <div><a href="http://sdg-indikatoren.de/en/{{ page.url | split: "/" | last }}" target="_blank">{{ page.t.data.germany | t }}</a></div>
        </div>
        
        <div class="col-sm-2 col-xs-2 text-center mb-5">
          <a href="https://sdg.ukrstat.gov.ua/{{ page.url | split: "/" | last }}" target="_blank"><img src="{{ site.baseurl }}/assets/img/indicator_flag/ukraine.png" style="height: 50px"></a>
            <div><a href="https://sdg.ukrstat.gov.ua/{{ page.url | split: "/" | last }}" target="_blank">{{ page.t.data.ukraine | t }}</a></div>
        </div>
        
        <div class="col-sm-2 col-xs-2 text-center mb-5">
          <a href="https://sdgdata.gov.uk/{{ page.url | split: "/" | last }}" target="_blank"><img src="{{ site.baseurl }}/assets/img/indicator_flag/unitedkingdom.png" style="height: 50px"></a>
            <div><a href="https://sdgdata.gov.uk/{{ page.url | split: "/" | last }}" target="_blank">{{ page.t.data.unitedkingdom | t }}</a></div>
        </div>

        <div class="col-sm-2 col-xs-2 text-center mb-5">
          <a href="https://sdg.data.gov/{{ page.url | split: "/" | last }}" target="_blank"><img src="{{ site.baseurl }}/assets/img/indicator_flag/unitedstates.png" style="height: 50px"></a>
            <div><a href="https://sdg.data.gov/{{ page.url | split: "/" | last }}" target="_blank">{{ page.t.data.unitedstates | t }}</a></div>
        </div>
        
        <div class="col-sm-2 col-xs-2 text-center mb-5">
          <a href="https://sdg.gov.pl/en/statistics_glob/{{ page.url | split: "/" | last }}" target="_blank"><img src="{{ site.baseurl }}/assets/img/indicator_flag/poland.png" style="height: 50px"></a>
            <div><a href="https://sdg.gov.pl/en/statistics_glob/{{ page.url | split: "/" | last }}" target="_blank">{{ page.t.data.poland | t }}</a></div>
        </div>        
        
        <div class="col-sm-2 col-xs-2 text-center mb-5">
          <a href="https://sustainabledevelopment-rwanda.github.io/{{ page.url | split: "/" | last }}" target="_blank"><img src="{{ site.baseurl }}/assets/img/indicator_flag/rwanda.png" style="height: 50px"></a>
            <div><a href="https://sustainabledevelopment-rwanda.github.io/{{ page.url | split: "/" | last }}" target="_blank">{{ page.t.data.rwanda | t }}</a></div>
        </div>      
        
         <div class="col-sm-2 col-xs-2 text-center mb-5">
          <a href="https://kostat-sdg-kor.github.io/sdg-indicators/en/{{ page.url | split: "/" | last }}" target="_blank"><img src="{{ site.baseurl }}/assets/img/indicator_flag/southkorea.png" style="height: 50px"></a>
            <div><a href="https://kostat-sdg-kor.github.io/sdg-indicators/en/{{ page.url | split: "/" | last }}" target="_blank">{{ page.t.data.southkorea | t }}</a></div>
        </div>    
        
         <div class="col-sm-2 col-xs-2 text-center mb-5">
          <a href="https://sdgs-ghana.github.io/{{ page.url | split: "/" | last }}" target="_blank"><img src="{{ site.baseurl }}/assets/img/indicator_flag/ghana.png" style="height: 50px"></a>
            <div><a href="https://sdgs-ghana.github.io/{{ page.url | split: "/" | last }}" target="_blank">{{ page.t.data.ghana | t }}</a></div>
        </div>            
        
        
    </div>
    
    
</div>
